Repository sgdevcamp2025/smiletogether, pull requests merged in 2025-03, with the labels that each got.

#130 [FE] refactor : 어떻게든 자연스러운 서비스를 만들기위한 과정이 비 언어적으로 함축되어있는 PR입니다
  .github/workflows/node.js.yml
  frontend/src/apis/channel/dto.ts
  frontend/src/apis/channel/index.ts
  frontend/src/apis/dm/index.ts
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/modals/channel/ChannelCreateModal/index.tsx
  frontend/src/components/workspace/WorkspaceAvatarList.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceChannels.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/components/workspace/WorkspaceListItem.tsx
  frontend/src/hooks/channel/useCreateChannelMutation.ts
  frontend/src/hooks/workspace/useCreateWorkspaceMutation.ts
  frontend/src/hooks/workspace/useLeaveWorkspaceMutation.ts
  frontend/src/lib/https.ts
  frontend/src/lib/utils.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, design, refactor, feature

#132 [BE] feat: 초대 링크 api 구현
  backend/space-server/package.json
  backend/space-server/pnpm-lock.yaml
  backend/space-server/src/app.module.ts
  backend/space-server/src/invite/invite.controller.ts
  backend/space-server/src/invite/invite.module.ts
  backend/space-server/src/invite/invite.service.ts
Labels: backend, feature

#140 [BE] feat : 워크스페이스 소속 여부 확인, 초대링크 구조 변경
  backend/space-server/src/invite/invite.controller.ts
  backend/space-server/src/invite/invite.service.ts
Labels: backend, feature

#141 [FE] feat : 프론트 동기화를 위한 pr입니다
  frontend/src/apis/user/dto.ts
  frontend/src/apis/user/index.ts
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/modals/workspace/WorkspaceUserInviteModal.tsx
  frontend/src/hooks/workspace/useWorkspaceInviteLinkUrlMutation.ts
  frontend/src/lib/https.ts
  frontend/src/lib/utils.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/login/ConfirmEmailPage.tsx
  frontend/src/pages/workspace/WorkspaceJoinPage.tsx
  frontend/src/routers/index.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, feature

#145 [BE] refactor: 초대코드로 워크스페이스 소속 확인 response 수정
  backend/space-server/src/invite/invite.service.ts
Labels: backend, refactor

#146 [FE] feat: 초대 수락 및 인증/인가 로직 구현
  frontend/src/apis/user/dto.ts
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/modals/channel/ChannelCreateModal/ChannelCreateFirstStepModal.tsx
  frontend/src/components/modals/channel/ChannelCreateModal/index.tsx
  frontend/src/hooks/workspace/useAcceptWorkspaceEmailInviteMutation.ts
  frontend/src/hooks/workspace/useAcceptWorkspaceLinkInviteMutation.ts
  frontend/src/hooks/workspace/useGetIsMemberOfWorkspaceByInviteLinkQuery.ts
  frontend/src/lib/https.ts
  frontend/src/pages/workspace/WorkspaceJoinPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, refactor, feature

#148 [FE] refactor: api 명세 변경 적용 및 style 리팩토링
  frontend/src/apis/workspace/index.ts
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceHeader.tsx
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/modals/workspace/WorkspaceUserInviteModal.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceChannelListItem.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceDMs.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/index.tsx
  frontend/src/hooks/workspace/useGetIsMemberOfWorkspaceByInviteLinkQuery.ts
  frontend/src/lib/https.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
Labels: frontend, design, refactor, feature

#152 [BE] refactor: login, refresh response body 수정
  backend/auth-server/src/auth/auth.controller.ts
Labels: backend, feature

#168 [FE] fix : 병합 오류 해결 및 jwt 해독 기능을 추가한다
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/apis/channel/index.ts
  frontend/src/components/frame/workspace/WorkspaceFrame.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/lib/https.ts
  frontend/src/lib/utils.ts
Labels: fix, frontend, feature

#170 [BE] feat: 이메일 초대 발송 및 수락
  backend/space-server/src/invite/invite.controller.ts
  backend/space-server/src/invite/invite.module.ts
  backend/space-server/src/invite/invite.service.ts
  backend/space-server/src/workspace/dto/workspace-detail.dto.ts
  backend/space-server/src/workspace/workspace.module.ts
  backend/space-server/src/workspace/workspace.service.ts
Labels: backend, feature

#177 [FE] feat : 기능들을 연결한다
  frontend/src/apis/channel/index.ts
  frontend/src/apis/user/index.ts
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/common/ChannelTagInput.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/frame/workspace/WorkspaceFrame.tsx
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/modals/workspace/WorkspaceUserInviteModal.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceChannelListItem.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/hooks/channel/useDeleteMessage.ts
  frontend/src/hooks/channel/useEditMessage.ts
  frontend/src/hooks/channel/useSendMessage.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/channel/ChannelPage.tsx
  frontend/src/pages/login/ConfirmEmailPage.tsx
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/stores/userOriginStore.ts
  frontend/src/types/user.ts
Labels: frontend, refactor, feature

#190 [FE] fix : 오류발생 부분 및 연동 안된 부분을 수정한다
  frontend/src/apis/channel/index.ts
  frontend/src/components/channel/ChannelInfo.tsx
  frontend/src/components/channel/HistoryMessages.tsx
  frontend/src/components/common/MessageBox.tsx
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceFrame.tsx
  frontend/src/components/workspace/WorkspaceListItem.tsx
  frontend/src/hooks/channel/useChatMessages.ts
Labels: fix, frontend, feature

#191 [FE] refactor : 무한스크롤 코드 롤백 및 초대링크를 통한 접속시 전체 채널을 보여주는 기능을 추가한다
  frontend/src/hooks/channel/useChatMessages.ts
  frontend/src/pages/workspace/WorkspaceJoinPage.tsx
Labels: fix, frontend, refactor

#197 [FE] feat : 이메일 전송이 사용자 경험을 위한 로딩 컴포넌트를 추가한다
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend, feature

#200 [FE] fix : 회원가입 실패하는 문제를 해결한다.
  frontend/src/pages/login/ConfirmEmailPage.tsx
Labels: fix, frontend

#202 [FE] refactor : MSA 환경 대응을 위한 axios 인스턴스 분리 및 공통 인터셉터 적용
  frontend/src/apis/channel/index.ts
  frontend/src/apis/dm/index.ts
  frontend/src/apis/user/index.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/hooks/workspace/useRemoveWorkspaceMutation.ts
  frontend/src/lib/clients.ts
  frontend/src/lib/createApi.ts
  frontend/src/lib/https.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
Labels: fix, frontend, refactor
