Repository sgdevcamp2025/smiletogether, pull requests merged in 2025-04, with the labels that each got.

#214 [FE] refactor: 로그인 기능 API 및 비즈니스 로직 분리를 통한 코드 구조화
  config/docker-compose-member-server.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/apis/user/index.ts
  frontend/src/components/login/EmailVerificationSection.tsx
  frontend/src/components/login/NickNameSettingSection.tsx
  frontend/src/components/modals/EmailSendingModal.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/auth/useAuth.ts
  frontend/src/hooks/auth/useAuthMutations.ts
  frontend/src/hooks/auth/useEmailMutation.ts
  frontend/src/hooks/use-toast.ts
  frontend/src/pages/login/ConfirmEmailPage.tsx
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend, refactor, feature

#216 [FE] Fix : 워크스페이스 접속 시 MainNavigationSidebar 의 DM 클릭 시 Sidebar 가 DM 리스트로 바뀌는 문제
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/lib/clients.ts
  frontend/src/pages/dm/DMPage.tsx
  frontend/src/routers/index.tsx
  frontend/src/stores/isDm.ts
Labels: fix, frontend

#217 [BE] refactor : 볼륨 삭제
  backend/space-server/prisma/migrations/20250227114327_add_column/migration.sql
  backend/space-server/src/channel/channel.service.ts
  backend/space-server/src/invite/invite.service.ts
  backend/space-server/src/workspace/workspace.service.ts
  config/docker-compose-auth-server.yml
  config/docker-compose-space-server.yml
Labels: fix, backend, refactor

#218 fix/#107 : fix chatting bug
  frontend/src/apis/channel.ts
  frontend/src/components/channel/HistoryMessages.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/common/MessageBox.tsx
  frontend/src/hooks/channel/useChatMessages.ts
  frontend/src/hooks/channel/useSendMessage.ts
  frontend/src/hooks/channel/useWebSocket.ts
  frontend/src/pages/channel/ChannelPage.tsx
Labels: frontend, design, feature

#224 [FE] fix : 병합도중 누락된 코드로인한 버그를 수정한다
  frontend/.eslintignore
  frontend/.prettierrc.js
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/channel/HistoryMessages.tsx
  frontend/src/components/dm/DMContent.tsx
  frontend/src/components/dm/sideBar/SideBar.tsx
  frontend/src/components/frame/workspace/WorkspaceContentSidebar/WorkspaceChannelSidebar.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/components/workspace/WorkspaceAvatarList.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceChannelListItem.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/hooks/channel/useChatMessages.ts
  frontend/src/hooks/channel/useCreateChannelMutation.ts
  frontend/src/hooks/channel/useGetChaneel.tsx
  frontend/src/hooks/channel/useGetChannel.ts
  frontend/src/hooks/channel/useGetMessage.ts
  frontend/src/hooks/channel/useInviteChannelMutation.ts
  frontend/src/hooks/channel/useLeaveWorkspaceChannelMutation.ts
  frontend/src/hooks/channel/useWorkspaceChannelListQuery.ts
  frontend/src/hooks/workspace/useCreateWorkspace.tsx
  frontend/src/hooks/workspace/useRemoveWorkspaceMutation.ts
  frontend/src/pages/channel/ChannelPage.tsx
  frontend/src/pages/workspace/WorkspaceJoinPage.tsx
  frontend/src/routers/index.tsx
  frontend/src/stores/workspace.ts
  frontend/vite.config.ts
Labels: fix, frontend, refactor

#226 [BE] refactor: external api 분리
  backend/space-server/package.json
  backend/space-server/src/app.module.ts
  backend/space-server/src/channel/channel.controller.ts
  backend/space-server/src/channel/channel.module.ts
  backend/space-server/src/channel/channel.service.ts
  backend/space-server/src/external-api/external-api.module.ts
  backend/space-server/src/external-api/external-api.service.ts
  backend/space-server/src/main.ts
  backend/space-server/src/workspace/workspace.module.ts
  backend/space-server/src/workspace/workspace.service.ts
  backend/space-server/tsconfig.build.json
  config/docker-compose-auth-server.yml
  config/docker-compose-space-server.yml
Labels: backend, refactor
