Repository sgdevcamp2025/smiletogether, pull requests merged in 2025-02, with the labels that each got.

#8 [FE] Feat : 워크스페이스 리스트 페이지 추가 및 Mock Service Worker 설정
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/mockServiceWorker.js
  frontend/src/apis/.gitkeep
  frontend/src/apis/workspace/worksapce.ts
  frontend/src/components/.gitkeep
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/hooks/.gitkeep
  frontend/src/hooks/WorkSpace/useWorkSpaceQuery.tsx
  frontend/src/lib/.gitkeep
  frontend/src/lib/https.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/.gitkeep
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/routers/index.tsx
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Labels: fix, frontend, feature, setting

#17 [BE] Feat : 스프링 서버 프로젝트 생성 및 초기 세팅
  backend/.gitignore
  backend/config-server/.gitattributes
  backend/config-server/.gitignore
  backend/config-server/build.gradle
  backend/config-server/gradlew
  backend/config-server/gradlew.bat
  backend/config-server/settings.gradle
  backend/config-server/src/main/java/com/slack/configserver/ConfigServerApplication.java
  backend/config-server/src/test/java/com/slack/configserver/ConfigServerApplicationTests.java
  backend/discovery-server/.gitattributes
  backend/discovery-server/.gitignore
  backend/discovery-server/build.gradle
  backend/discovery-server/gradlew
  backend/discovery-server/gradlew.bat
  backend/discovery-server/settings.gradle
  backend/discovery-server/src/main/java/com/slack/discoveryserver/DiscoveryServerApplication.java
  backend/discovery-server/src/test/java/com/slack/discoveryserver/DiscoveryServerApplicationTests.java
  backend/gateway-server/.gitattributes
  backend/gateway-server/.gitignore
  backend/gateway-server/build.gradle
  backend/gateway-server/gradlew
  backend/gateway-server/gradlew.bat
  backend/gateway-server/settings.gradle
  backend/gateway-server/src/main/java/com/slack/gatewayserver/GatewayServerApplication.java
  backend/gateway-server/src/test/java/com/slack/gatewayserver/GatewayServerApplicationTests.java
Labels: backend, setting

#19 [FE] Feat : 채팅 관련 컴포넌트 UI 구현
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/icons/AddPeople.svg
  frontend/public/icons/Huddle.svg
  frontend/public/icons/Message.svg
  frontend/public/icons/Option.svg
  frontend/public/icons/Private.svg
  frontend/src/components/channel/ChannelInfo.tsx
  frontend/src/components/common/ChatHeader.tsx
  frontend/src/components/common/DateBadge.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/common/UserHoverCard.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/index.css
  frontend/src/lib/date.ts
  frontend/src/routers/index.tsx
  frontend/src/types/uset.ts
Labels: frontend, feature

#21 [BE] feat: 기본적인 개발 환경 및 DBMS 선택에 대한 연구 진행
  backend/.gitignore
  backend/chat-server/.gitattributes
  backend/chat-server/.gitignore
  backend/chat-server/Dockerfile
  backend/chat-server/build.gradle
  backend/chat-server/gradlew
  backend/chat-server/gradlew.bat
  backend/chat-server/settings.gradle
  backend/chat-server/src/main/java/com/smiletogether/chatserver/ChatServerApplication.java
  backend/chat-server/src/test/java/com/smiletogether/chatserver/ChatServerApplicationTests.java
  backend/config-server/Dockerfile
  backend/discovery-server/Dockerfile
  backend/gateway-server/Dockerfile
  backend/member-server/.gitattributes
  backend/member-server/.gitignore
  backend/member-server/Dockerfile
  backend/member-server/build.gradle
  backend/member-server/gradlew
  backend/member-server/gradlew.bat
  backend/member-server/settings.gradle
  backend/member-server/src/main/java/com/smiletoegether/memberserver/MemberServerApplication.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/domain/Member.java
  backend/member-server/src/test/java/com/smiletoegether/memberserver/MemberServerApplicationTests.java
Labels: backend, feature

#23 [FE] Feat : MessageBox UI 구현
  frontend/pnpm-lock.yaml
  frontend/public/icons/Add.svg
  frontend/public/icons/Emoji.svg
  frontend/public/icons/Mention.svg
  frontend/public/icons/Recording.svg
  frontend/public/icons/Send.svg
  frontend/public/icons/Video.svg
  frontend/src/components/common/ChatHeader.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/common/MessageBox.tsx
  frontend/src/components/common/UserHoverCard.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/types/user.ts
Labels: frontend, feature

#24 [FE] feat: API 모킹을 통한 워크스페이스 목록 조회 UI를 구현한다
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/worksapce.ts
  frontend/src/components/Frame/MainFrame.tsx
  frontend/src/components/common/ArrorIcon.tsx
  frontend/src/components/common/Avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/workspace/WorkSpaceAvatarList.tsx
  frontend/src/components/workspace/WorkSpaceListItem.tsx
  frontend/src/components/workspace/WorkSpaceListItemDetail.tsx
  frontend/src/hooks/WorkSpace/useWorkSpaceQuery.tsx
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/routers/index.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, refactor, feature, setting

#18 [FE] Feat : 로그인 페이지 UI 구현
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/login/InputCodeForm.tsx
  frontend/src/components/login/LoginForm.tsx
  frontend/src/components/ui/input-otp.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/pages/login/ConfirmEmailPage.tsx
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, feature

#29 [BE] feat: kafka 설정 및 세팅, 간단한 테스트까지
  infra/docker-compose.yml
  infra/kafka-test/.gitattributes
  infra/kafka-test/.gitignore
  infra/kafka-test/build.gradle
  infra/kafka-test/gradle/wrapper/gradle-wrapper.jar
  infra/kafka-test/gradle/wrapper/gradle-wrapper.properties
  infra/kafka-test/gradlew
  infra/kafka-test/gradlew.bat
  infra/kafka-test/settings.gradle
  infra/kafka-test/src/main/java/com/infra/kafkatest/KafkaConsumerService.java
  infra/kafka-test/src/main/java/com/infra/kafkatest/KafkaProducerService.java
  infra/kafka-test/src/main/java/com/infra/kafkatest/KafkaTestApplication.java
  infra/kafka-test/src/main/resources/application.yml
  infra/kafka-test/src/test/java/com/infra/kafkatest/KafkaTest.java
  infra/kafka-test/src/test/java/com/infra/kafkatest/KafkaTestApplicationTests.java
Labels: backend, feature, setting

#30 [BE] feat: 채팅 서버 웹소켓 연동 및 테스트
  backend/chat-server/build.gradle
  backend/chat-server/src/main/java/com/smiletogether/chatserver/config/ChatConfig.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/config/KafkaConfig.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/controller/ChannelChatController.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/service/ChatService.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/service/MessageConsumer.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/service/MessageProducer.java
  backend/chat-server/src/main/java/com/smiletogether/chatserver/service/dto/MessageDto.java
Labels: backend, feature, setting

#35 [BE] feat: 워크스페이스/채널 NestJS 프로젝트 세팅
  backend/space-server/.eslintrc.js
  backend/space-server/.gitignore
  backend/space-server/.prettierrc
  backend/space-server/README.md
  backend/space-server/nest-cli.json
  backend/space-server/package.json
  backend/space-server/pnpm-lock.yaml
  backend/space-server/prisma/migrations/20250208081847_add_cascade_delete/migration.sql
  backend/space-server/prisma/migrations/migration_lock.toml
  backend/space-server/prisma/prisma.module.ts
  backend/space-server/prisma/prisma.service.ts
  backend/space-server/prisma/schema.prisma
  backend/space-server/src/app.controller.ts
  backend/space-server/src/app.module.ts
  backend/space-server/src/app.service.ts
  backend/space-server/src/main.ts
  backend/space-server/src/workspace/workspace.controller.ts
  backend/space-server/src/workspace/workspace.module.ts
  backend/space-server/src/workspace/workspace.service.ts
  backend/space-server/tsconfig.build.json
  backend/space-server/tsconfig.json
Labels: backend, setting

#25 [FE] Feat : DM 페이지 UI 구현
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/icons/Search.svg
  frontend/public/icons/Write.svg
  frontend/src/components/channel/ChannelInfo.tsx
  frontend/src/components/dm/DMInfo.tsx
  frontend/src/components/dm/sideBar/DMList.tsx
  frontend/src/components/dm/sideBar/SideBar.tsx
  frontend/src/components/dm/sideBar/SideBarHeader.tsx
  frontend/src/components/dm/sideBar/index.ts
  frontend/src/components/ui/switch.tsx
  frontend/src/pages/dm/DMPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, feature

#43 [FE] Feat : 메시지 편집/삭제 UI 구현
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/common/EditBox.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/ui/menubar.tsx
  frontend/src/pages/dm/DMPage.tsx
  frontend/src/stores/userStore.ts
Labels: frontend, feature

#45 [FE] feat: 워크스페이스 생성을 구현한다
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/apis/workspace/worksapce.ts
  frontend/src/components/Frame/MainFrame.tsx
  frontend/src/components/frame/workspace/WorkspaceFrame.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/workspace/WorkSpaceAvatarList.tsx
  frontend/src/components/workspace/WorkSpaceListItem.tsx
  frontend/src/components/workspace/WorkSpaceListItemDetail.tsx
  frontend/src/components/workspace/WorkspaceCreationInput.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetUserName.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetWorkspaceName.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/index.tsx
  frontend/src/components/workspace/WorkspaceDashboard/index.tsx
  frontend/src/components/workspace/WorkspaceNextButton.tsx
  frontend/src/components/workspace/WorkspaceProfileModal.tsx
  frontend/src/hooks/WorkSpace/useCreateWorkspace.tsx
  frontend/src/hooks/WorkSpace/useProfileImageRef.tsx
  frontend/src/hooks/WorkSpace/useWorkSpaceQuery.tsx
  frontend/src/lib/utils.ts
  frontend/src/lib/workspace.tsx
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/routers/index.tsx
  frontend/src/stores/workspace.store.ts
Labels: frontend, design, feature, setting

#42 [BE] feat: 멤버 서버 구현
  backend/member-server/build.gradle
  backend/member-server/src/main/java/com/smiletoegether/memberserver/email/config/EmailConfig.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/email/service/EmailService.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/controller/MemberController.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/repository/MemberRepository.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/MemberService.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/dto/CertificationEmailRequest.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/dto/CommonEmailCodeResponse.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/dto/SignUpRequest.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/dto/SignUpResponse.java
  backend/member-server/src/main/resources/db/data.sql
Labels: backend, feature

#49 [BE] feat: 스페이스 서버 - 워크스페이스 생성 및 조회 구현
  backend/space-server/package.json
  backend/space-server/pnpm-lock.yaml
  backend/space-server/prisma/schema.prisma
  backend/space-server/src/decorators/user-id.decorator.ts
  backend/space-server/src/guards/auth.guard.ts
  backend/space-server/src/main.ts
  backend/space-server/src/workspace/dto/create-workspace.dto.ts
  backend/space-server/src/workspace/dto/search-workspace.dto.ts
  backend/space-server/src/workspace/dto/workspace-detail.dto.ts
  backend/space-server/src/workspace/dto/workspcae-response.dto.ts
  backend/space-server/src/workspace/workspace.controller.ts
  backend/space-server/src/workspace/workspace.module.ts
  backend/space-server/src/workspace/workspace.service.ts
Labels: backend, feature

#48 [FE] Feat : API 모킹을 통한 이전 메시지 및 채팅 페이지 UI 구현
  frontend/pnpm-lock.yaml
  frontend/src/apis/channel/index.ts
  frontend/src/components/channel/ChannelInfo.tsx
  frontend/src/components/common/Message.tsx
  frontend/src/components/workspace/WorkSpaceAvatarList.tsx
  frontend/src/components/workspace/WorkSpaceListItem.tsx
  frontend/src/components/workspace/WorkSpaceListItemDetail.tsx
  frontend/src/hooks/channel/useGetChaneel.tsx
  frontend/src/hooks/channel/useGetMessage.ts
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/channel/ChannelPage.tsx
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, feature

#50 [FE] : 워크스페이스 생성과 워크스페이스 공통 프레임을 개발한다
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/components/frame/workspace/SidebarContainer.tsx
  frontend/src/components/frame/workspace/WorkspaceContentSidebar/WorkspaceChannelSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceContentSidebar/WorkspaceDmSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceContentSidebar/WorkspaceMyActiveSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceContentSidebar/index.tsx
  frontend/src/components/frame/workspace/WorkspaceFrame.tsx
  frontend/src/components/frame/workspace/WorkspaceHeader.tsx
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetUserName.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetWorkspaceName.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/index.tsx
  frontend/src/components/workspace/WorkspaceDashboard/index.tsx
  frontend/src/components/workspace/WorkspaceIconButton.tsx
  frontend/src/constant/.gitkeep
  frontend/src/constants/navItems.tsx
  frontend/src/hooks/WorkSpace/useWorkSpaceQuery.tsx
  frontend/src/lib/workspace.ts
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/stores/currentFrameState.ts
  frontend/src/stores/workspace.ts
Labels: frontend, design, refactor, feature

#54 [FE] Refactor: dto, types 명확하게 분리
  frontend/pnpm-lock.yaml
  frontend/src/apis/channel/dto.ts
  frontend/src/apis/channel/index.ts
  frontend/src/components/common/Message.tsx
  frontend/src/hooks/channel/useGetChaneel.tsx
  frontend/src/hooks/channel/useGetMessage.ts
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/channel/ChannelPage.tsx
Labels: frontend, refactor

#62 [BE] feat: PK type 변경
  backend/space-server/prisma/migrations/20250212144211_change_workspace_id_to_uuid/migration.sql
  backend/space-server/prisma/schema.prisma
  backend/space-server/src/app.controller.ts
  backend/space-server/src/decorators/user-id.decorator.ts
  backend/space-server/src/guards/auth.guard.ts
  backend/space-server/src/workspace/dto/create-workspace.dto.ts
  backend/space-server/src/workspace/dto/search-workspace.dto.ts
  backend/space-server/src/workspace/dto/workspace-detail.dto.ts
  backend/space-server/src/workspace/dto/workspcae-response.dto.ts
  backend/space-server/src/workspace/workspace.controller.ts
  backend/space-server/src/workspace/workspace.service.ts
Labels: backend, feature

#63 [Common] backend to develop merge
  backend/space-server/prisma/migrations/20250212144211_change_workspace_id_to_uuid/migration.sql
  backend/space-server/prisma/schema.prisma
  backend/space-server/src/app.service.ts
  backend/space-server/src/decorators/user-id.decorator.ts
  backend/space-server/src/guards/auth.guard.ts
  backend/space-server/src/workspace/dto/create-workspace.dto.ts
  backend/space-server/src/workspace/dto/search-workspace.dto.ts
  backend/space-server/src/workspace/dto/workspace-detail.dto.ts
  backend/space-server/src/workspace/dto/workspcae-response.dto.ts
  backend/space-server/src/workspace/workspace.controller.ts
  backend/space-server/src/workspace/workspace.service.ts
  frontend/src/index.css
Labels: backend, setting

#68 [Common] frontend to develop merge
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/workspace/WorkSpaceAvatarList.tsx
  frontend/src/components/workspace/WorkSpaceListItem.tsx
  frontend/src/components/workspace/WorkSpaceListItemDetail.tsx
  frontend/src/components/workspace/WorkspaceListItem.tsx
  frontend/src/components/workspace/WorkspaceListItemDetail.tsx
  frontend/src/hooks/WorkSpace/useCreateWorkspace.tsx
  frontend/src/hooks/WorkSpace/useProfileImageRef.tsx
  frontend/src/hooks/WorkSpace/useUserWorkspaceQuery.tsx
  frontend/src/hooks/WorkSpace/useUserWorkspacesQuery.tsx
  frontend/src/hooks/WorkSpace/useWorkSpaceQuery.tsx
  frontend/src/hooks/workspace/useWorkSpaceQuery.tsx
  frontend/src/pages/workspace/WorkspaceListPage.tsx
Labels: fix, frontend

#71 [BE] feat: 스페이스 서버 연동을 위한 도커 작업
  backend/space-server/.dockerignore
  backend/space-server/Dockerfile
  backend/space-server/prisma/migrations/20250208081847_add_cascade_delete/migration.sql
  backend/space-server/src/app.service.ts
  config/docker-compose-space-server.yml
Labels: backend, setting

#73 [FE] feat: 채널의 채팅 페이지 웹 소켓 및 UI 구현
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/common/Message.tsx
  frontend/src/components/common/MessageBox.tsx
  frontend/src/components/common/UserHoverCard.tsx
  frontend/src/hooks/channel/useGetChaneel.tsx
  frontend/src/hooks/channel/useGetMessage.ts
  frontend/src/hooks/channel/useSendMessage.ts
  frontend/src/hooks/channel/useWebSocket.ts
  frontend/src/pages/channel/ChannelPage.tsx
  frontend/src/routers/index.tsx
  frontend/src/types/chat.ts
  frontend/src/types/user.ts
  frontend/tailwind.config.js
Labels: frontend, feature

#76 [BE] 워크스페이스 나가기, 삭제, 초대 구현
  backend/space-server/prisma/schema.prisma
  backend/space-server/src/workspace/dto/create-workspace.dto.ts
  backend/space-server/src/workspace/dto/delete-workspace.dto.ts
  backend/space-server/src/workspace/dto/invite-workspace.dto.ts
  backend/space-server/src/workspace/workspace.controller.ts
  backend/space-server/src/workspace/workspace.service.ts
Labels: backend, feature

#78 [FE] feat: 채널 채팅 페이지 상세 Ui 구현
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/channel/ChannleDelete.tsx
  frontend/src/components/channel/infoModal/ChannleInfoModal.tsx
  frontend/src/components/channel/infoModal/Info.tsx
  frontend/src/components/channel/infoModal/Members.tsx
  frontend/src/components/channel/infoModal/index.ts
  frontend/src/components/common/ChatHeader.tsx
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/workspace/Modal/WorkspaceUserInviteModal.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/mocks/dummy.json
  frontend/src/pages/channel/ChannelPage.tsx
  frontend/src/routers/index.tsx
Labels: frontend, feature

#80 [BE] feat: 채널 CRUD 구현 #77
  backend/space-server/src/app.module.ts
  backend/space-server/src/channel/channel.controller.ts
  backend/space-server/src/channel/channel.module.ts
  backend/space-server/src/channel/channel.service.ts
  backend/space-server/src/channel/dto/channel-detail.dto.ts
  backend/space-server/src/channel/dto/channel-response.dto.ts
  backend/space-server/src/channel/dto/create-channel.dto.ts
  backend/space-server/src/channel/dto/workspace-channel.dto.ts
  backend/space-server/src/main.ts
  backend/space-server/src/workspace/dto/create-workspace.dto.ts
  backend/space-server/src/workspace/dto/delete-workspace.dto.ts
  backend/space-server/src/workspace/dto/invite-workspace.dto.ts
  backend/space-server/src/workspace/dto/search-workspace.dto.ts
  backend/space-server/src/workspace/dto/workspace-detail.dto.ts
  backend/space-server/src/workspace/workspace.service.ts
Labels: backend, feature

#82 [FE] feat : WorkspaceChannelPanel의 모달 구현 및 api 명세 변경에의한 코드를 수정한다
  frontend/src/apis/workspace/dto.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/common/ModalPortal.tsx
  frontend/src/components/frame/workspace/WorkspaceSidebar.tsx
  frontend/src/components/workspace/Modal/WorkspaceActionModal.tsx
  frontend/src/components/workspace/WorkspaceAvatarList.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/components/workspace/WorkspaceCreationProcess/StepSetInviteUsers.tsx
  frontend/src/components/workspace/WorkspaceListItem.tsx
  frontend/src/components/workspace/WorkspaceMenu.tsx
  frontend/src/hooks/workspace/useLeaveWorkspaceMutation.tsx
  frontend/src/hooks/workspace/useRemoveWorkspaceMutation.tsx
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/workspace/WorkspaceListPage.tsx
  frontend/src/stores/modalStore.ts
Labels: frontend, design, refactor, feature

#83 [BE] feat: 메시지 히스토리 서버 구현
  .gitattributes
  backend/history-server/.gitignore
  backend/history-server/build.gradle
  backend/history-server/gradlew
  backend/history-server/gradlew.bat
  backend/history-server/settings.gradle
  backend/history-server/src/main/java/com/smiletogether/historyserver/HistoryServerApplication.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/config/WebConfig.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/controller/ChannelMessageController.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/domain/document/ChannelMessageDocument.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/domain/document/ReactionDocument.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/domain/document/TreadDocument.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/domain/entity/ChannelMessage.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/domain/model/Reactions.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/infrastructure/JwtAuth.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/infrastructure/JwtAuthArgumentResolver.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/infrastructure/JwtDecoder.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/intializer/MongoDBSeeder.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/repository/ChannelMessageRepository.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/repository/ReactionRepository.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/ChannelMessageService.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/KafkaConsumerService.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageDeleteRequest.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageDeleteResponse.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageReaction.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageResponse.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageSaveRequest.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessageUpdateRequest.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessages.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessagesByDate.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/ChannelMessagesRequest.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/dto/WorkspaceProfileDto.java
  backend/history-server/src/main/resources/dummy_messages.json
  backend/history-server/src/test/java/com/smiletogether/historyserver/HistoryServerApplicationTests.java
Labels: backend, feature

#88 [BE] bug: 포트 변경에 따른 도커 파일 수정
  backend/space-server/Dockerfile
  config/docker-compose-space-server.yml
Labels: fix, backend

#91 [FE] feat: 워크스페이스 나가기 vs 삭제 - 조건부 UI 처리 로직 추가
  frontend/src/components/channel/ChannelMenu.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/index.tsx
  frontend/src/components/workspace/WorkspaceMenu.tsx
Labels: frontend, feature

#101 [FE] refactor : api 명세 변경에 따른 코드를 수정한다
  frontend/src/apis/channel/dto.ts
  frontend/src/apis/channel/index.ts
  frontend/src/apis/workspace/index.ts
  frontend/src/components/common/ChatHeader.tsx
  frontend/src/components/modals/channel/ChannelCreateModal/index.tsx
  frontend/src/components/modals/workspace/WorkspaceUserInviteModal.tsx
  frontend/src/hooks/channel/useCreateChannelMutation.ts
  frontend/src/hooks/channel/useInviteChannelMutation.ts
  frontend/src/hooks/channel/useLeaveWorkspaceChannelMutation.ts
  frontend/src/hooks/channel/useWorkspaceChannelListQuery.ts
  frontend/src/hooks/workspace/useCreateWorkspace.ts
  frontend/src/mocks/handlers.ts
Labels: frontend, feature

#98 [feat] : 디엠 페이지 1차 구현
  frontend/src/apis/channel/dto.ts
  frontend/src/apis/dm/dto.ts
  frontend/src/apis/dm/index.ts
  frontend/src/components/dm/DMContent.tsx
  frontend/src/components/dm/sideBar/DMList.tsx
  frontend/src/components/dm/sideBar/SideBar.tsx
  frontend/src/components/frame/workspace/MainNavigationSidebar.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceDMs.tsx
  frontend/src/components/workspace/WorkspaceChannelPanel/WorkspaceDirectMessageListItem.tsx
  frontend/src/hooks/dm/useGetDMMessages.ts
  frontend/src/mocks/dummy.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/dm/DMPage.tsx
  frontend/src/routers/index.tsx
  frontend/src/types/dm.ts
Labels: frontend, feature

#100 [BE] feat: 인증/인가 구현 및 토큰 발급
  backend/auth-server/.eslintrc.js
  backend/auth-server/.prettierrc
  backend/auth-server/README.md
  backend/auth-server/docker-compose.yaml
  backend/auth-server/nest-cli.json
  backend/auth-server/package.json
  backend/auth-server/pnpm-lock.yaml
  backend/auth-server/src/app.controller.ts
  backend/auth-server/src/app.module.ts
  backend/auth-server/src/app.service.ts
  backend/auth-server/src/auth/auth.controller.ts
  backend/auth-server/src/auth/auth.module.ts
  backend/auth-server/src/auth/auth.service.ts
  backend/auth-server/src/main.ts
  backend/auth-server/tsconfig.build.json
  backend/auth-server/tsconfig.json
Labels: backend, feature

#108 [BE] feat: 인증/인가 서버 연동을 위한 도커 작업
  backend/auth-server/.dockerignore
  backend/auth-server/Dockerfile
  backend/auth-server/src/main.ts
  config/docker-compose-auth-server.yml
Labels: backend, setting

#112 [BE] feat: 이메일 서버간 api 구현
  backend/.gitignore
  backend/member-server/Dockerfile
  backend/member-server/build.gradle
  backend/member-server/docker-compose.yml
  backend/member-server/src/main/java/com/smiletoegether/memberserver/email/config/RedisConfig.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/email/service/EmailService.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/controller/MemberController.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/domain/Member.java
  backend/member-server/src/main/java/com/smiletoegether/memberserver/member/service/MemberService.java
  backend/member-server/src/main/resources/db/data.sql
Labels: backend, feature

#122 [BE] fix: 정렬 오름차순으로 수정
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/ChannelMessageService.java
Labels: fix, backend

#123 [BE] feat: 채널에서 유저 검색 및 공통 에러 처리
  backend/space-server/src/channel/channel.controller.ts
  backend/space-server/src/channel/channel.service.ts
  backend/space-server/src/common/PrismaExceptionFilter.ts
  backend/space-server/src/main.ts
Labels: backend, feature

#124 [BE] fix: 채팅 리스트 정렬 수정
  backend/history-server/src/main/java/com/smiletogether/historyserver/config/WebConfig.java
  backend/history-server/src/main/java/com/smiletogether/historyserver/service/ChannelMessageService.java
  backend/history-server/src/main/resources/dummy_messages.json
Labels: fix, backend
